@media (max-width:560px) {

    html,
    body {
        font-size: 14px;
    }

    .section_little_text,
    .answer {
        font-size: 14px;
    }
    .header {
        background: url(../img/Mobile_back.webp);
    }

    .answer_wrapper {
        max-width: 550px;
        padding: 24px;
    }

    .question {
        display: flex;
        justify-content: center;
        font-size: 16px;
        width: 517px;
    }

    .questions {
        min-width: 700px;
    }

    span.kursiv {
        display: none;
    }


    .section_name {
        font-size: 45px;
    }

    .answer {
        max-width: 600px;
    }
.complex_input{
   width:90%
}
h1{
    font-size: 35px;
}
.icon_wrapper{
    display: none;
}
.section_main_text_wrapper{
    flex-direction: column;
}
.grid {
   display: none;
  }
.grid_for_mobile{
    display: grid;
    grid-template-columns: repeat(3fr 100px);
    gap: 2px;
    height: 100%;
    border-radius: 30px;
}
.mobile_wrapper{
    min-height: 100px;
    position: relative;
  }

@media (max-width:968px) {

    html,
    body {
        font-size: 14px;
    }
    .header {
        background: url(../img/tablet_back.webp);
    }
    span.kursiv {
        display: none;
    }
    .section_little_text,
    .answer {
        font-size: 14px;
    }

    .main_p {
        display: none;
    }
}
.reasons {
    display: none;
}
.faq{
    display: none;
}
.search_header_button{
    padding: 15px 40px;
}
@media (max-width:1200px) {

    html,
    body {
        font-size: 16px;
    }

    .section_little_text,
    .answer {
        font-size: 16px;
    }

    .answer_wrapper {
        max-width: 550px;
        padding: 24px;
    }

    .question {
        display: flex;
        justify-content: center;
        font-size: 22px;
        width: 517px;
    }

    .questions {
        min-width: 700px;
    }

    h1 {
        font-size: 65px;
    }

    .section_name {
        font-size: 45px;
    }

    .answer {
        max-width: 600px;
    }

    .table_booking {
        font-size: 55px;
    }
}
}